<ion-header [translucent]="true">
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button defaultHref="/"></ion-back-button>
</ion-buttons>
    <ion-title>avatar</ion-title>
    <ion-avatar slot="end">
      <!-- <img src="/assets/avatar.png" /> -->
      <ion-img src="/assets/hombre.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-chip color="warning" mode="ios" outline="true">
    <ion-avatar>
      <img src="/assets/avatar.png" />
    </ion-avatar>
    <ion-label>Ion-chip</ion-label>
  </ion-chip>


  <ion-chip color="danger" mode="md" outline="false">
    <ion-avatar>
      <img src="/assets/avatar.png" />
    </ion-avatar>
    <ion-label>Ion-chip</ion-label>
  </ion-chip>


  <ion-list *ngFor="let item of [1,1]">
    <ion-item>
      <ion-label>Software Developer</ion-label>
      <ion-avatar>
        <img src="/assets/hombre.png" />
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
