<!-- <ion-header [translucent]="true">
  <ion-toolbar>

       <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Ir atras" ></ion-back-button>
      </ion-buttons>

    <ion-title>action-sheet</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-encabezado titulo="action - sheet"></app-encabezado>

<ion-content>
  <ion-button id="open-action-sheet" expand="block" >Mostrar Action button</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
</ion-content>
