<app-encabezado titulo="alerta"></app-encabezado>

<ion-content >
  <!-- <ion-button id="present-alert"
  expand="block">Click Me
</ion-button>
  <ion-alert
  backdropDismiss="true"
    trigger="present-alert"
    header="A Short Title Is Best"
    subHeader="A Sub Header Is Optional"
    message="A message should be a short, complete sentence."
    [buttons]="alertButtons"

  ></ion-alert> -->


  <ion-button id="present-alert" expand="block" color="primary">Clic Aqui </ion-button>
<ion-alert
  trigger="present-alert"
  header="¿Quieres salir?"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
  backdropDismiss="false"
></ion-alert>






</ion-content>
