<app-encabezado titulo="contactos"></app-encabezado>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contactos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
