<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenidos App Móviles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos </ion-title>
    </ion-toolbar>
  </ion-header>

 <!--  <ion-button routerLink="/alerta"> ir A Alerta </ion-button>
  <ion-button routerLink="/nosotros"> ir A Nosotros </ion-button>
  <ion-button routerLink="/action-sheet"> ir A Action - Sheet </ion-button> -->

 <!--  <ion-button>AQUI </ion-button> -->



  <hr />

  <ion-list>
  <ion-item
  *ngFor="let item of componentes"
  [routerLink]="item.redirecTo">
    <ion-icon
    [name]="item.icon"
    slot="start"
    color="primary"
    detail="true">
  </ion-icon>
   {{item.name}}
  </ion-item>
</ion-list>
</ion-content>
